*,
*::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
}

html,
body {
    font-family: 'Raleway', sans-serif;
    font-size: 62.5%;
    min-height: 100vh;
}
